<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

  <testsuites>
    <testsuite name="2015">
      <directory suffix="Test.php">tests/Y2015</directory>
    </testsuite>

    <testsuite name="2016">
      <directory suffix="Test.php">tests/Y2016</directory>
    </testsuite>

    <testsuite name="2021">
      <directory suffix="Test.php">tests/Y2021</directory>
    </testsuite>
  </testsuites>
</phpunit>
